DJANGO_DEBUG=False
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
DJANGO_SECRET_KEY=secret-key
POSTGRES_PASSWORD=postgres_password
ALLOWED_HOST=loaner-tracker-web
POSTGRES_HOST=loaner-tracker-db