{% extends "index.html" %}
{% load static %}

{% block content %}
    <form id="thing_form" action="" method="post">
        {% csrf_token %}
        <fieldset class="authFieldset" {% if form_disabled %}disabled{% endif %}>
            {{ thing_form.as_ul }}
            <button type="submit" value="Save" id="button_save">Save</button>
            {% if form_editable %}
                <button type="reset" value="Cancel" id="button_cancel">Cancel</button>
                <button type="button" value="Delete" id="button_delete">Delete</button>
            {% endif %}
        </fieldset>
        {% if form_editable %}
            <button type="button" value="Edit" id="button_edit">Edit</button>
        {% endif %}
        <button type="button" value="Back" id="button_back" onclick="window.location.href = '{% url 'lookup' %}'">Back</button>
    </form>
    {{ thing_form_ro.as_ul }}
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}