{% extends "index.html" %}
{% load group_tags %}

{% block content %}    
    {% include "components/lookup-form.html" %}
    <form action="" method="get">
        {% csrf_token %}
        <div>
            <label for="assigned_to">Assigned To:</label>
            <input type="text" name="assigned_to" id="assigned_to"/>
            <input type="submit" value="OK" />
        </div>
    </form>

    {% if searched_by %}
        <div>
        {% if query %}
            <h2>Results for {{ query }}</h2>
        {% else %}
            <h2>Results for Unassigned</h2>
        {% endif %}
            <form action="" method="get">
                {% csrf_token %}
                <div>
                    <input type="submit" value="Clear filter" />
                </div>
            </form>
        </div>
        {% else %}
            <h2>All things</h2>
        {% endif %}
    {% if things %}
        <table id="thing_list">
            <thead>
                <th class="thing_category">Category</th>
                <th class="thing_barcode">Barcode</th>
                <th class="thing_status">Status</th>
                <th class="thing_assigned_to">Assigned To</th>
                <th class="thing_size">Size</th>
                <th class="thing_id">ID</th>
            </thead>
            {% for thing in things %}
                <tr id="row_{{ thing.id }}">
                    <td class="thing_category"><a href="{% url 'get_thing' thing.id %}">{{ thing.category }}</a></td>
                    <td class="thing_barcode"><a href="{% url 'get_thing' thing.id %}">{{ thing.barcode }}</a></td>
                    <td class="thing_status"><a href="{% url 'get_thing' thing.id %}">{{ thing.status }}</a></td>
                    <td class="thing_assigned_to"><a href="{% url 'get_thing' thing.id %}">{{ thing.assigned_to }}</a></td>
                    <td class="thing_size"><a href="{% url 'get_thing' thing.id %}">{{ thing.size }}</a></td>
                    <td class="thing_id"><a href="{% url 'get_thing' thing.id %}">{{ thing.id }}</a></td>
                </tr>
            {% endfor %}
            </table>
    {% else %}
        {% if searched_by == "barcode" %}
            <h3>{{ query }} not found.</h3>
            {% if user|is_in_group:"editors" or user|is_in_group:"staff" %}
                <a href="{% url 'add_thing' %}?barcode={{ query }}"">Click here to add {{ query }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}